
.board-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 16px;
    margin: 24px;
    min-width: 100%;
    width: fit-content
}

.board-column {
    max-width: 400px;
    width: 100%;
}

.task-column {
    width: 70vw;
    transition: transform 0.3s ease;
    
    &:hover {
        transform: scale(1.05);
    }
}