@use '@angular/material' as mat;

body {
  color-scheme: light;
  @include mat.theme((
    color: mat.$cyan-palette,
    typography: Roboto
  ));
}

body.dark-theme{
    color-scheme: dark;
    @include mat.theme((
    color: mat.$cyan-palette,
    typography: Roboto
  ));
}