@use '../styles/variables' as variables;

.toolbar-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: variables.$toolbar-height;
}

.main-content {
  padding-top: variables.$toolbar-height; /* Adjust based on the height of your toolbar */
}