.app-toolbar {
  position: sticky; //TODO see what should be used here
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}